In [115]:
import pandas as pd
import numpy as np

In [116]:
file_name = 'Energy Indicators.xls'

In [117]:
En_df = pd.read_excel(file_name, skiprows=16, skipfooter=283-245)

In [118]:
En_df = En_df.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)

In [119]:
En_df.rename(columns={'Unnamed: 2': 'Country', 'Renewable Electricity Production':'% Renewable'}, inplace=True)

In [120]:
En_df = En_df.drop(En_df.index[0])

In [122]:
for col in En_df.columns[1:-1]:
    En_df[col] = En_df[col].mask(En_df[col].str.isnumeric() == False, np.nan).astype(float)

In [123]:
En_df['Energy Supply'] = En_df['Energy Supply']*1000000

In [124]:
En_df['Country'] = En_df['Country'].str.replace('\d+', '') # delete numbers
En_df['Country'] = En_df['Country'].str.replace(r' \([^)]*\)',"") #delete 
En_df['Country'] = En_df['Country'].replace({'Republic of Korea':'South Korea',
                      'United States of America': 'United States',
                      'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
                      'China, Hong Kong Special Administrative Region': 'Hong Kong'})

<ipython-input-124-73663083a1a2>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  En_df['Country'] = En_df['Country'].str.replace('\d+', '') # delete numbers
<ipython-input-124-73663083a1a2>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  En_df['Country'] = En_df['Country'].str.replace(r' \([^)]*\)',"") #delete

In [125]:
GDP = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_2531304.csv', skiprows=4)

In [126]:
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.881570e+10,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN,NaN

In [127]:
GDP['Country Name'] = GDP['Country Name'].replace({'Korea, Rep.': 'South Korea',
                                                'Iran, Islamic Rep.': 'Iran',
                                                'Hong Kong SAR, China': 'Hong Kong'})

In [128]:
GDP.rename(columns={'Country Name': 'Country'}, inplace= True)

In [129]:
ScimEn = pd.read_excel('scimagojr country rank 1996-2020.xlsx')

In [130]:
ScimEn.head()

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226

In [131]:
gdp_year_list = np.array(['Country','2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'])

for i in GDP.columns:
    if i not in gdp_year_list:
        GDP = GDP.drop(i, axis=1)

In [132]:
GDP.head()

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09
1,Afghanistan,6.971286e+09,9.747880e+09,1.010923e+10,1.243909e+10,1.585657e+10,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10
2,Angola,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11
3,Albania,8.896074e+09,1.067732e+10,1.288135e+10,1.204422e+10,1.192693e+10,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10
4,Andorra,3.456442e+09,3.952601e+09,4.085631e+09,3.674410e+09,3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09

In [133]:
ScimEn = ScimEn.nsmallest(15, 'Rank')
ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226
5,6,Germany,Western Europe,38739,38013,433148,95145,11.18,196
6,7,Russian Federation,Eastern Europe,36735,36560,115938,54993,3.16,90
7,8,Canada,Northern America,33472,32863,568080,100953,16.97,227
8,9,Italy,Western Europe,27983,26940,352993,87828,12.61,166
9,10,South Korea,Asiatic Region,27655,27445,328488,61531,11.88,155
10,11,France,Western Europe,25232,24732,343860,65734,13.63,178
11,12,Iran,Middle East,22933,22734,307280,97038,13.40,141
12,13,Spain,Western Europe,21955,21597,352497,64588,16.06,176
13,14,Brazil,Latin America,21524,21236,183915,45172,8.54,127
14,15,Australia,Pacific Region,20614,20147,314307,51583,15.25,176

In [134]:
GDP_ScimEn = pd.merge (GDP, ScimEn, how='inner', on='Country')

In [135]:
En_GDP_ScimEn = pd.merge(GDP_ScimEn, En_df, how='inner', on='Country')

In [136]:
En_GDP_ScimEn.set_index('Country', inplace=True)

In [137]:
En_GDP_ScimEn.drop('Region', axis=1, inplace=True)

In [138]:
En_GDP_ScimEn.shape

(15, 20)

In [141]:
# quest 2
avg = 0
k = 0
for col in En_GDP_ScimEn.columns:
    if col.isnumeric() == True:
        k += 1
        avg +=En_GDP_ScimEn[col]
    En_GDP_ScimEn['avgGDP'] = avg/k

Country
Australia             1.206526e+12
Brazil                1.988885e+12
Canada                1.613835e+12
China                 6.927702e+12
Germany               3.518225e+12
Spain                 1.398587e+12
France                2.687371e+12
United Kingdom        2.776607e+12
India                 1.602352e+12
Iran                  4.389286e+11
Italy                 2.139775e+12
Japan                 5.177131e+12
South Korea           1.221372e+12
Russian Federation    1.666746e+12
United States         1.566966e+13
Name: avgGDP, dtype: float64

In [146]:
top_15 = En_GDP_ScimEn['avgGDP'].sort_values(ascending=False)

In [388]:
# quest 3

ind = top_15.index[5]
result = En_GDP_ScimEn.loc[index]['2015'] - En_GDP_ScimEn.loc[index]['2006']
result

119614244263.37988

In [204]:
# quset 4

En_GDP_ScimEn['ratio_of_citations'] = En_GDP_ScimEn['Self-citations']/En_GDP_ScimEn['Citations']

In [208]:
En_GDP_ScimEn['ratio_of_citations'].max()

0.6912289816173135

In [389]:
En_GDP_ScimEn[En_GDP_ScimEn['ratio_of_citations'] == En_GDP_ScimEn['ratio_of_citations'].max()].index[0], En_GDP_ScimEn['ratio_of_citations'].max()

('China', 0.6912289816173135)

In [227]:
#quest 5

En_GDP_ScimEn['est_population'] = En_GDP_ScimEn['Energy Supply']/En_GDP_ScimEn['Energy Supply per capita']

In [237]:
En_GDP_ScimEn['est_population'].sort_values(ascending=False).index[2]

'United States'

In [252]:
#quest 6

En_GDP_ScimEn.iloc[:, 4:]

,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,avgGDP,ratio_of_citations,est_population
Country,,,,,,,,,,,,,,,,,,,
Australia,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12,15,20614,20147,314307,51583,15.25,176,5.386000e+09,231.0,11.81081,1.206526e+12,0.164117,2.331602e+07
Brazil,2.208872e+12,2.616201e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12,14,21524,21236,183915,45172,8.54,127,1.214900e+10,59.0,69.64803,1.988885e+12,0.245613,2.059153e+08
Canada,1.613464e+12,1.788648e+12,1.828689e+12,1.847209e+12,1.803533e+12,1.556130e+12,8,33472,32863,568080,100953,16.97,227,1.043100e+10,296.0,61.94543,1.613835e+12,0.177709,3.523986e+07
China,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.75491,6.927702e+12,0.691229,1.367645e+09
Germany,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.356236e+12,6,38739,38013,433148,95145,11.18,196,1.326100e+10,165.0,17.90153,3.518225e+12,0.219659,8.036970e+07
Spain,1.420722e+12,1.478773e+12,1.324820e+12,1.354757e+12,1.369399e+12,1.195119e+12,13,21955,21597,352497,64588,16.06,176,4.923000e+09,106.0,37.96859,1.398587e+12,0.183230,4.644340e+07
France,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,11,25232,24732,343860,65734,13.63,178,1.059700e+10,166.0,17.02028,2.687371e+12,0.191165,6.383735e+07
United Kingdom,2.475244e+12,2.659310e+12,2.704888e+12,2.786023e+12,3.063803e+12,2.928591e+12,5,43389,42284,615670,111290,14.19,226,7.920000e+09,124.0,10.60047,2.776607e+12,0.180762,6.387097e+07
India,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.96908,1.602352e+12,0.351806,1.276731e+09
Iran,4.868076e+11,5.807649e+11,5.988685e+11,4.602931e+11,4.326870e+11,3.849515e+11,12,22933,22734,307280,97038,13.40,141,9.172000e+09,119.0,5.707721,4.389286e+11,0.315797,7.707563e+07
Italy,2.134018e+12,2.291991e+12,2.087077e+12,2.141315e+12,2.159134e+12,1.835899e+12,9,27983,26940,352993,87828,12.61,166,6.530000e+09,109.0,33.66723,2.139775e+12,0.248809,5.990826e+07
Japan,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.23282,5.177131e+12,0.245727,1.274094e+08
South Korea,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12,10,27655,27445,328488,61531,11.88,155,1.100700e+10,221.0,2.279353,1.221372e+12,0.187316,4.980543e+07
Russian Federation,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12,7,36735,36560,115938,54993,3.16,90,3.070900e+10,214.0,17.28868,1.666746e+12,0.474331,1.435000e+08
United States,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752716e+13,1.822470e+13,2,175891,172431,2230544,724472,12.68,363,9.083800e+10,286.0,11.57098,1.566966e+13,0.324796,3.176154e+08

In [255]:
En_GDP_ScimEn['citable_doc_per_person'] = En_GDP_ScimEn['Citable documents']/En_GDP_ScimEn['est_population']

In [390]:
En_GDP_ScimEn[['citable_doc_per_person', 'Energy Supply per capita']].corr().iloc[0,1]

0.7434709127726778

In [321]:
# quest 7

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [329]:
group_by = En_GDP_ScimEn.groupby(by=ContinentDict, axis=0)

In [383]:
new_df = pd.DataFrame()
new_df['size'] = group_by.size()
new_df['sum'] = group_by['est_population'].sum()
new_df['mean'] = group_by['est_population'].mean()
new_df['std'] = group_by['est_population'].std()

In [384]:
new_df

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN